/* Error: Undefined mixin.
 *    ,
 * 54 | /   @include media-breakpoint-up(lg) {
 * 55 | |     font-size: 1.0625rem;
 * 56 | \   }
 *    '
 *   scss\base\_typography.scss 54:3  @import
 *   scss\theme.scss 3:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 54 \2502  \250c    @include media-breakpoint-up(lg) {\a 55 \2502  \2502      font-size: 1.0625rem;\a 56 \2502  \2514    }\a    \2575 \a   scss\\base\\_typography.scss 54:3  @import\a   scss\\theme.scss 3:9              root stylesheet";
}
