(killer): Travis (wildcard)
(victim): Corey (lucky idiot)
(informant): Eli (smart idiot)
(survivor): Danny (frightened one)
Watkins: (AAA guy) 

Okay, how about this. 

STEP ONE:
Erin has a puncture on the way to meet her coke connection. The AAA guy, Watkins, makes small-talk and she says she's heading to meet Corey. Watkins guy knows Corey.

When Erin first meets the gang, Eli isn't present - he's still pretending he only "knows" these guys.

Corey is there when Erin arrives at their location (the reclamation yard office). He's welcoming but uncertain how to proceed - never done a drug deal before. Erin has. She takes control of the situation. He says he found the drugs when dismantling a car - figures the cops seized the car but didn't search it, or maybe dealers had to abandon it, and it got found and scrapped.

Then Travis and Danny arrive. Travis is clearly dangerous and showing off - he's brought he drugs: all of them. Two kilo bags. Erin says "Wow, I've never seen wholesale weight before - are you sure it's safe having it all in one place like this?" She doesn't mean anything by it, but Danny immediately begins to question (out loud) whether they should split it up - it might get stolen, and it's a lot of money. Travis is performative, bragging, aggressive ("Who would dare to steal from me?"). Danny is anxious, and Corey is just trying to work out how much to charge Erin for the 8 ball she wants. She helps him to work out the prices - he can't do math. She buys what she wants. Travis says he'll do some with her, but she doesn't feel comfortable - gets a "rapey" vibe from the situation, and leaves.

STEP TWO:
