@include media-breakpoint-up(xl) {
  .container,
  .container-fluid {
    --bs-gutter-x: 2rem; // default is 1.5rem
  }
}

@include media-breakpoint-up(xl) {
  .btn {
    padding: 0.75rem 1.5rem; // bigger click area
    font-size: 1.05rem;
  }

  .btn-square {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@include media-breakpoint-up(xl) {
  .navbar-bwy {
    .nav-link {
      padding: 1rem 1.25rem;
      font-size: 1.05rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar-bwy {
    padding-block: 1.5rem;
  }
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1320px; // default
  }
}

@include media-breakpoint-up(xxl) {
  .container {
    max-width: 1440px; // more modern feel
  }
}

$space-desktop-scale: 1.25;

[data-animate]:not([data-stagger]) {
  opacity: 0;
}

/* If using stagger, hide children instead */
[data-animate][data-stagger] > * {
  opacity: 0;
}

[data-animate] {
  will-change: transform, opacity;
}
